<nav class="navbar navbar-fixed" role="navigation">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a id='brand' class="navbar-brand" href="/">Concrt</a>
	</div>

<% if (@current_user) %>
	<div class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav navbar-right">
			<li class='nav-links'><%= link_to 'Me', users_path %></li>
			<li class='nav-links'><%= link_to 'Users', users_path %></li>
			<li class='nav-links'><%= link_to 'See a Show', events_path %></li>
			<li class='nav-links'><%= link_to 'Logout', logout_path %></li>
		</ul>
	</div>
 <% else %>
 		<div class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav navbar-right">
			<li class='nav-links'><%= link_to 'Users', users_path%></li>
			<li class='nav-links'><%= link_to 'See a Show', events_path%></li>
			<li class='nav-links'><%= link_to 'Login', '#login', 'data-toggle' => 'modal', 'data-target' => '#login'%></li>
			<li class='nav-links'><%= link_to 'Sign-Up', '#signup', 'data-toggle' => 'modal', 'data-target' => '#signup'%></li>
		</ul>
	</div>
<% end %>
</nav>