<div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
    <div class='m-div'>
	    	<h1>Sign-Up</h1>
					<%= bootstrap_form_for :user, url: signup_path do |f| %>
						<%= f.text_field :name, placeholder: 'Name', required: true %>
						<%= f.text_field :email, placeholder: 'Email', required: true %>
						<%= f.file_field :picture %>
						<%= f.password_field :password, placeholder: 'Password', required: true %>
						<%= f.password_field :password_confirmation, placeholder: 'Re-Type Password', required: true %>
						<%= f.primary 'Sign Up'%>
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<% end %>
			</div>
    </div>
  </div>
</div>