<div class='container'>
	<div class='page-header row'>
		<div class='col-md-6'>
				<h1><span id='network'>Network</span>
				<% unless (@current_user) %>
					<small id='u-link'>- <%= link_to 'Sign-Up Today!', '#signup', 'data-toggle' => 'modal', 'data-target' => '#signup'%></small></h1>
					<% end %>
			</div>
			<div class='col-md-4 col-md-offset-2 search-bar'>
				<%= bootstrap_form_tag url: '/users', method: 'GET', id:'search-form' do |f| %>
					  <%= f.text_field :search, placeholder: 'Search Users' %>
					  <%= f.submit "Search" %>
				<% end %>
			</div>
	</div>
	<div class='row'>
		<% @users.each do |user| %>
			<div class='col-md-2 user'>
				<%= cl_image_tag(user.cloud_id,
      	:width => 400, :height => 400) %>
				<h3><%= link_to user.name, user %></h3>
			</div>
		<% end %>
	</div>
</div>

