<div class='container'>
  <div class='page-header row'>
    <div class='col-md-6'>
    <h1><span id='concert-search'>Concerts by Date/Location</span></h1>
    <%= link_to '&larr; Back'.html_safe, events_path, class: 'btn btn-primary back' %>
    </div>
    <div class='col-md-4 col-md-offset-2'>
      <div>
        <a href="http://www.JamBase.com" title="JamBase Concert Search">
        <img src= "http://images.jambase.com/logos/jambase140x70.gif" alt="Search JamBase Concerts" border="0" /></a>
        <h5 class="white-text">Concert information provided by <a href="http://www.jambase.com">JamBase</a></h5>
      </div>
    </div>
  </div>

  <% if @results["Info"]["TotalResults"] > 0 %>
    <h2 class="white-text"><%= @results["Events"][0]["Date"].to_date.strftime("%B %d, %Y") %></h2>
    <% @results["Events"].each do |e| %>
    <div class="well events-results">
      <h4>Date: <%= e["Date"].to_date.strftime("%B %d, %Y") %>
      </h4>
      <h4><% e["Artists"].each do |a| %>
          <%= a["Name"] %>
        <% end %>
      </h4>
      <h4><%= e["Venue"]["Name"] %>, <%= e["Venue"]["City"] %>, <%= e["Venue"]["StateCode"] %>
      </h4> 
      <h5 class="event-url"> <a href="<%= e["TicketUrl"] %>"><%= e["TicketUrl"] %></a></h4>

        <%= form_for @events, :method => 'post' do |event| %>
        <%= event.hidden_field :event_id, :value => e["Venue"]["Id"] %>
        <%= event.hidden_field :date, :value => e["Date"] %>
        <%= event.hidden_field :location, :value => e["Venue"]["Name"] %>
        <%= event.hidden_field :artist, :value => e["Artists"][0]["Name"] %>
        <%= event.hidden_field :price, :value => e["TicketUrl"] %>
        <%= event.submit class: 'btn' %>

      <% end %>
    </div>
    <% end %>
  <% else %>
    <h2 class="white-text"> No Results, Please Search Again </h2>
  <% end %>
</div>