<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" media="screen" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>
	<title>Concrt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'partials/navbar' %>
	<%= render 'partials/flash' %>
	<%= render 'partials/signup' %>
	<%= render 'partials/login' %>

	<%= yield %>

	<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script>
	    var options = {
    		directionThreshold: 20,
    		slideSpeed: 500
			};

	    $('#panel-container').panelSnap(options);
	</script>
</body>
</html>
